.logo {
  width: 20%;
}

.headline {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1em;
}

.title {
  margin: 0;
  font-size: 2em;
  font-family: 'Arial Narrow Bold', sans-serif;
}