
$text-color: grey;
$font: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

.article {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.6);
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  width: 350px;
  height: fit-content;
  box-shadow: 0 2px 14px rgba(0, 0, 0, 0.15);
  padding: 16px;
  border-radius: 16px;
  background: #fff;
}

.logo {
  width: 20%;
}

.headline {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1em;
}

.title {
  margin: 0;
  font-size: 2em;
  font-family: 'Arial Narrow Bold', sans-serif;
}

.field_title {
  font-size: .9em;
  font-weight: 300;
  color: inherit;
  font-family: $font;
}

.text_input, .invalid_text_input {
  outline: none;
  height: 2em;
  border-radius: 4px;
  margin-bottom: 2.5em;
}

.text_input {
  border: 1px solid rgb(211, 211, 211);
}

.invalid_text_input {
  border: 1px solid red;
}

.invalid_text_input:focus {
  border: 2px solid red;
}


.text_input:hover {
  transition: 200ms;
  background-color: rgb(231, 231, 231);
}

.text_input:focus {
  caret-color: rgb(68, 72, 174);
  background-color: rgb(231, 231, 231);
}

.valid_input_section, .invalid_input_section {
  display: flex;
  position: relative;
  flex-direction: column;
  padding: .5em;
}

.valid_input_section {
  color: $text-color;
}

.invalid_input_section {
  color: red;
}


.rules {
  color: inherit;
  font-family: $font;
}

.errors {
  color: red;

}

.errors, .rules {
  position: absolute;
  font-size: .70em;
  top: 7.5em;
}
.errors ul, .rules ul{
  list-style-type: circle;
  text-align: start;
  width: 100%;
  margin: 0.55em;
}

.submit_button {
  outline: none;
  border: none;
  border-radius: 10px;
  color: #fff;
  height: 3em;
  background-color:rgba(68, 72, 174, 0.95);
}

.submit_button:hover {
  background-color: rgba(68, 72, 174, 1);
  box-shadow: 0 2px 14px rgba(0, 0, 0, 0.3);
}

.submit_button:active {
  background-color: rgba(68, 72, 174, .9);
}

.hide_show_button {
  background: none;
  border: none;
  position: absolute;
  bottom: 33%;
  right: 5.5%;
  color: rgb(68, 72, 174);
  font-family: $font;
}

.success_display {
  height: 200px;
  font-family: $font;
  font-size: large;
  line-height: 2em;
  text-align: center;
}

.username_display {
  color: green;
  font-family: $font;
  font-weight: 800;
}
